*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
._*.*

.vs/**
ipch/
*.suo
*.opensdf
*.vcxproj.user
*.vsxproj.filters

ofxArUcoLib/bin
ofxArUcoLib/obj

example/bin
example/obj

example-*/bin/*
!example-*/bin/data
example-*/obj
example-*/.vs/**
